﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="pritom.aspx.cs" Inherits="citibd.pritom" MasterPageFile="~/main.Master" %>

<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="content" runat="server">

</asp:Content>