﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="test.aspx.cs" Inherits="citibd.test" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table><tr><td> <asp:Panel ID="pnlshare" runat="server" ></asp:Panel></td>
    <td width="15" background="imgs/topdown.gif"><div align="center"><img width="10" height="11" onclick="swapImagess();" alt="" src="stop.gif" name="IMG1" id="IMG1"><br>                    

                    <img width="10" height="11" onclick="swapImagespeed();" alt="Increase the speed of the ticker" src="fast.jpg" name="IMG2" id="IMG2"><br>                    

<img width="10" height="12" onclick="swapImagedir();" alt="Set the ticker's scrolling direction to right" src="right.jpg" name="IMG3" id="IMG3"></div></td></tr></table>
       
    </div>
    </form>
    <script language="javascript">
        intImage = 2;
        function swapImagess() {
            switch (intImage) {
                case 1:
                    IMG1.src = "stop.gif"
                    intImage = 2
                    mq2.start()
                    al = "Stop"
                    return (false);
                case 2:
                    IMG1.src = "start.gif"
                    intImage = 1
                    mq2.stop()
                    al = "Start"
                    return (false);
            }
        }
        intspeed = 2;
        function swapImagespeed() {
            switch (intspeed) {
                case 1:
                    IMG2.src = "fast.jpg"
                    intspeed = 2
                    mq2.scrollAmount = 3
                    return (false);
                case 2:
                    IMG2.src = "slow.jpg"
                    intspeed = 1
                    mq2.scrollAmount = 5
                    return (false);
            }
        }
        intdir = 2;
        function swapImagedir() {
            switch (intdir) {
                case 1:
                    IMG3.src = "right.jpg"
                    intdir = 2
                    mq2.direction = 'left'
                    return (false);
                case 2:
                    IMG3.src = "left.jpg"
                    intdir = 1
                    mq2.direction = 'right'
                    return (false);
            }
        }
</SCRIPT> 
</body>
</html>
