﻿ body
{
    padding-top: 70px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.more
{
    position: absolute;
    visibility: hidden;
    color: #000000;
    opacity: 2;
    text-decoration: underline;
}
.linked:hover .more
{
  visibility:visible;
  
    
}
.linked:hover .imgg
{
    opacity: .05;
  
    
}
.thumbnails > li.tile:hover  .more{
    visibility:visible;
}